
/*Estilos index.html*/

@font-face {
    font-family: titulo;
    src: url(../font/AmaticSC-Bold.ttf);
}

@font-face {
    font-family: escrita;
    src: url(../font/Pacifico-Regular.ttf);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image:url(../img/fondo5.jpg);
    /*background-color: lightcyan;*/
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

header{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menucabecera{
    position: relative;
    display:flex;
    padding-right: 50px;
}

header .menucabecera li{
    list-style: none;
    margin-left: 20px;
    color: darkorchid;
    font-weight: bold;
    
}
header .menucabecera li a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-family: titulo;
    font-weight: bold;
    transition: 0.5s;
}

header .menucabecera li a:hover{
    color: whitesmoke;
    background-color: darkorchid;
    text-decoration: none;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

.contenido{
    width: 700px;
    text-align: center;
    margin-left: 10px;
    padding-left: 20px;
    margin-top: 70px;
}

.contenido .letrapequeña {
    font-family: escrita;
    color: black;
    font-size: 30px;
}

.contenido #nombre {
    color: darkorchid;
    font-family: escrita;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.contenido .texto {
    color: black;
    font-family: titulo;
    font-size: 60px;
}

.contenido .pregunta {
    color: black;
    font-family: escrita;
    font-size: 20px;
    text-transform: inherit;
}

.contenido .texto3 {
    color: white;
    font-family: titulo;
    font-size: 20px;
    text-transform: lowercase;
}

section div div a{ 
    color: whitesmoke;
    background-color: darkorchid;
    text-decoration: none;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

section div div a:hover{ 
    color:black;
    background-color: grey;
}

.imagen {
    position: absolute;
    top:5px;
    left: 600px;
}

.imagen img {
    height: 90%;
    width: 90%;
}

.imagen2 {
    position: absolute;
    top:150px;
    left: 1100px;
}

.imagen2 img {
    height: 60%;
    width: 60%;
    border-radius: 20%;
}

div .imagen3{
    width: 700px;
    margin-left:20px;
    margin-top: 40px;
}


.imagen3 img {
    height: 60%;
    width: 60%;
    border-radius: 10%;
}

.redessociales ul {
    position: fixed;
    right: 20px;
    bottom:20px;
    margin: 0;
    padding: 0 100px 30px;
    justify-content: space-between;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.redessociales li a {
    color: darkorchid;
    font-size: 2.5rem;
    transition: 0.5s;
}

.redessociales li a:hover{
    color: whitesmoke;
    background-color: darkorchid;
    text-decoration: none;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

/*Estilos descubremas.html*/

.servicios {
    font-family: titulo;
    color: darkorchid;
    text-align: center;
    font-size: 60px;
}

.servicios #frase{
    color: black;
    font-size: 30px;
}

.flipcards {
    display: flex;
    perspective: 1000px;
    width: 1000px;
    height: 350px;
    margin: auto;
    margin-top: 100px;
    gap: 2rem;
    justify-content: center;
}
  
.card {
    width: 100%;
    height: 100%;
    position: relative;
    /*Para ver la cara delantera y trasera en el giro*/
    transform-style: preserve-3d;
    transition: 0.5s;
}

.card:hover {
    /*Para que gire 180 grados sobre el eje Y cuando se pasa el raton por encima*/
    transform: rotateY(180deg);
}
  
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.front {
    background-color: whitesmoke;
}
  
.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.front h3 {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    text-align: center;
    color: darkorchid;
    font-size: 40px;
    font-family: titulo;
}
  
.back {
    background-color: rgb(225, 188, 244);
    border-color: darkorchid;
    border-style: solid;
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
    text-align: center;
    backface-visibility: hidden;
}

.fuente {
    font-family: titulo;
    font-size: 50px;
    color: darkorchid;
    font-weight: bold;
}

.descripcion {
    font-family: titulo;
    text-transform: inherit;
    font-size: 20px;
    color: black;
}

.preenlace{
    font-family: titulo;
    text-transform: inherit;
    font-size: 30px;
    color: white;
}

.enlace {
    font-family: titulo;
    font-size: 50px;
    color: darkorchid;
    text-decoration: none;
}

/*Estilos quiensoy.html*/

h1 {
    text-align: center;
}

#presentacion{
    font-family: escrita;
    font-size: 40px;
    color:black;
}

#presentacion #nombre{
    color: darkorchid
}

#foto {
    position:absolute;
    top: 100px;
    left: 600px;
    width: 240px;
    height: 300px;
    border-radius: 200px;
}

#parrafo {
    font-family: titulo;
    text-align: justify;
    margin-top: 350px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    font-size: 20px;
    color: black;
}

#exclamacion {
    font-family: titulo;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: darkorchid;
}

#pregunta {
    font-family: titulo;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: black;
}